# Python specific
*.pyc
__pycache__
*.log
*.tmp
*.db
*.sqlite3
*.env
*.lock
*.cfg
*.ini
*.out
*.xls*
*.xlsx*
*.pptx*
.env
.venv
venv
data
.sesskey
.pytest_cache
.coverage
.DS_Store
.idea
.vscode
__pycache__
*.py[cod]
*~
# Distracted from the main directory
!.gitignore
main2.py
test.py
alternate.py